.text-modal {
    width: 400px;
    padding: 25px;
    background-color: var(--white);
    line-height: 25px;
    text-align: justify;
  }
  
  .text-modal-close-btn {
    padding: 10px 10px;
    background-color: var(--blue);
    border-radius: 10px;
    border: none;
    margin: 0 5px;
    color: var(--white);
    margin-top: 20px;
    font-size: .8rem;
  }